@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import 'https://fonts.googleapis.com/css?family=Lato';


/* navigation bar */
.navbar-custom {
  //background: #6796d7;
  font-family: 'Lato', sans-serif;
  background: -webkit-linear-gradient(top, #056f90 0%, rgb(34, 159, 213) 100%);
  background: linear-gradient(to bottom, #056f90 0%, #056f90 100%);
  border-radius: 4px;
  color: white;
}
.navbar-custom .navbar-nav > li > a {
 color: white; /*Change active text color here*/
}

.backgroud-img {
  position: relative;
  z-index: -1;
  //opacity: 0.7;
  width: 100%;
  height: 100%;
  //padding: 0px
}

.center {
  position: absolute;
  //left: 0;
  //padding-top: 10px;
  top: 30%;
  width: 100%;
  z-index: 999;
  text-align: center;
  //font-size: 30px
  //font-family: 'Lato', sans-serif;
}

.home-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  display: inline-block;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}


/* header */
header {
  padding-top: 5px;
}

header a {
  font-family: 'Lato', sans-serif;
  color: black;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  font-family: 'Lato', sans-serif;
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  font-family: 'Lato', sans-serif;
  float: right;
  list-style: none;
}
